* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
}

.page1 {
  background-color: #000;
  height: 100vh;
  width: 100%;
  position: fixed;
}

.page1 > img {
  position: absolute;
  height: 100%;
}

nav {
  display: flex;
  position: sticky;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.4vw;
  top: 0%;
  left: 0%;
}

.nav-right {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.nav-right > a {
  color: #fff;
  text-decoration: none;
}

.nav-right > a:hover {
  color: #ffc20e;
}

.nav-right > a:nth-child(8) {
  background-color: #ffc20e;
  padding: 0.5vw;
}

.nav-right > a:nth-child(8):hover {
  color: #fff;
}
.main-text {
  /* background-color: salmon; */
  width: 100%;
  height: 91vh;
  padding-top: 15vw;
  color: #fff;
}

.main-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9;
  color: #ffc20e;
  gap: 4vw;
}

.main-heading > img {
  height: 11vw;
}

.main-heading > h1 {
  font-size: 9vw;
  font-weight: 600;
}

.main-heading > h1:nth-child(1) {
  margin-right: 10vw;
}

.main-heading > .vk {
  position: absolute;
  height: 30vw;
  left: 13%;
}

.main-heading > .vk > img {
  height: 100%;
  width: 100%;
}

.main-subtext {
  width: 100%;
  display: flex;
  justify-content: end;
  /* background-color: rebeccapurple; */
  padding: 1vw;
  position: relative;
  z-index: 9;
}

.para {
  font-size: 1.5vw;
  width: 50%;
}

.para > p {
  font-size: 1.5vw;
  width: 70%;
}

.para > button {
  padding: 0.5vw 1vw;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
  margin-top: 2vw;
  font-size: 1vw;
  transition: all ease 0.5s;
}

.para > button:hover {
  background-color: #fff;
  color: #000;
}

.page2 {
  height: 100vh;
  width: 100%;
  position: relative;
}
